@use 'variables' as v;
@use 'sass:color';


.dark-mode {
    background-color: color.adjust(v.$grisOscuro, $lightness: -10%);

    p, label, legend, td {
        color: v.$blanco;
    }
    a, h1,h2,h3,h4 {
        color: v.$gris;
    }

    .formulario {
        legend, p {
            color: v.$amarillo;
        }
       
    }
   

    .anuncio {
        background-color: v.$grisOscuro;
        border: 1px solid v.$grisOscuro;
        .precio {
                color: v.$verde;
        }
        .icono {
                filter: invert(100%);
                
        }
       
    }
    .resumen-propiedad {
        .precio {
            color: v.$verde;
        }

        .icono {
            filter: invert(100%);
        }
    }
    .texto-nosotros blockquote {
        color: v.$blanco;
    }
}